<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>

<body>
    <h1>Warfinder</h1>
    <nav>
        <div class="dropdown">
            <a href="#" class = "btn">Faction</a>
            <div class="dropdown-content">
                <%faction.forEach (faction => {%>
                <a href="#"><%=faction%></a>
                <%})%>
            </div>
        </div>
            <div class="dropdown">
            <a href="#" class = "btn">Ability</a>
            <div class="dropdown-content">
                <%ability.forEach (ability => {%>
                <a href="#"><%=ability.name%></a>
                <%})%>
            </div>
        </div>
    </nav>
    <%card.forEach(card => {%>
    <div class="cardIndex">

        <img src="<%=card.img%>" alt="<%=card.name%>"> <br />
        <%=card.name%>
        <hr>
    </div>
    <%})%>

</body>

</html>