<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <title>Warfinder</title>
</head>

<%factionURL = encodeURI(faction)%>

<body>


    <%- include('./partials/nav') %>


    <%card.forEach(card => {%>
    <div class="cardIndex">

        <a href="/card/<%=card._id%>"><img src="<%=card.img%>" alt="<%=card.name%>"></a> <br />
        <a href="/card/<%=card._id%>"><%=card.name%></a>

        <hr>
    </div>
    <%})%>

</body>

</html>