<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <title><%=cards.name%></title>
</head>

<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <div class="showContainer">
            <img class="cardImg" src=<%=cards.img%> alt="">
            <div class="abilityContainer">
                <%for(i=0; i<cards.ability.length;i++){%>
                <li>
                    <%=cards.ability[i]%>
                </li>
                <%}%>

        </div>

        <div class="attackContainer">
            <img class='diceImage' src="../images/<%=cards.attack%>.svg" alt="">
            </div>

            <div class="defenseContainer">
                <img class='diceImage' src="../images/<%=cards.defense%>.svg" alt="">
            </div>

            <div class="mAttackContainer">
                <img class='diceImage' src="../images/<%=cards.mAttack%>.svg" alt="">
            </div>

            <div class="mDefenseContainer">
                <img class='diceImage' src="../images/<%=cards.mDefense%>.svg" alt="">
            </div>

            <div class="nameContainer">

                <p><%=cards.name%></p>
                <p class='faction'><%=cards.faction%></p>
            </div>

            <div class="rankContainer">
                <p><%=cards.rank%></p>

            </div>

        </div>
    </div>

</body>

</html>