<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <div class="grid">

        <%=cards.name%>
        <%=cards.faction%>
        <%=cards.attack%>
        <%=cards.defense%>
        <%=cards.mAttack%>
        <%=cards.mDefense%>
        <%for(i=0; i<cards.ability.length;i++){%>
            <%=cards.ability%>
        <%}%>
        
        <%=cards.flavor%>
        <%=cards.rank%>

        <img class="card" src="<%=cards.img%>" alt="">
        <img class='frame' src="../images/leavesTransparent.png" alt="">
    
    
    </div>
</body>

</html>